projects/n8n-automations/trustrag/05_n8n_chat.json
{
  "name": "TrustRAG-4-Chat",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "trustrag/chat",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-chat",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [200, 400],
      "webhookId": "trustrag-chat"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT tr_validate_key('{{ $json.body.api_key }}') AS result",
        "options": {}
      },
      "id": "auth-check",
      "name": "인증 확인",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [420, 400],
      "credentials": { "postgres": { "name": "Supabase (Postgres)" } }
    },
    {
      "parameters": {
        "jsCode": "const auth = $('인증 확인').item.json.result;\nconst body = $('Webhook').item.json.body;\n\nif (!auth.success) {\n  return [{ json: { authorized: false, message: auth.message || '인증 실패' } }];\n}\n\nif (auth.tokens_remaining <= 0 && !['super_admin','company_admin'].includes(auth.role)) {\n  return [{ json: { authorized: false, message: '토큰이 소진되었습니다. 관리자에게 문의하세요.' } }];\n}\n\n// 요청한 카테고리 필터링 (빈 배열 = 전체)\nconst requestedCats = body.categories || []; // 카테고리 이름 배열\nconst allCats = auth.categories || [];\n\nlet targetTables;\nif (requestedCats.length === 0) {\n  // 전체: 접근 가능한 모든 테이블\n  targetTables = allCats.map(c => ({ table: c.table_name, name: c.name }));\n} else {\n  // 선택한 카테고리만\n  targetTables = allCats\n    .filter(c => requestedCats.includes(c.name))\n    .map(c => ({ table: c.table_name, name: c.name }));\n}\n\nif (targetTables.length === 0) {\n  return [{ json: { authorized: false, message: '접근 가능한 카테고리가 없습니다' } }];\n}\n\nreturn [{ json: {\n  authorized: true,\n  userId: auth.id,\n  companyId: auth.company_id,\n  message: body.message,\n  sessionId: body.session_id || 'session-' + Date.now(),\n  targetTables\n} }];"
      },
      "id": "auth-parse",
      "name": "인증 & 파싱",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [640, 400]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true },
          "conditions": [
            {
              "leftValue": "={{ $json.authorized }}",
              "rightValue": true,
              "operator": { "type": "boolean", "operation": "equals" }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "is-authorized",
      "name": "권한 OK?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [860, 400]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"success\": false, \"message\": \"{{ $json.message }}\" }",
        "options": { "responseCode": 401 }
      },
      "id": "return-401",
      "name": "401 Unauthorized",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [860, 600]
    },
    {
      "parameters": {
        "url": "https://api.openai.com/v1/embeddings",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "Bearer {{ $env.OPENAI_API_KEY }}" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"text-embedding-3-small\",\n  \"input\": \"{{ $json.message }}\"\n}"
      },
      "id": "get-query-embedding",
      "name": "질문 임베딩 생성",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1080, 300]
    },
    {
      "parameters": {
        "jsCode": "// 각 카테고리 테이블에서 유사 문서 검색\nconst embedding = $input.first().json.data[0].embedding;\nconst authData = $('인증 & 파싱').item.json;\nconst tables = authData.targetTables;\n\n// Supabase RPC 쿼리 생성 (여러 테이블 UNION)\nconst queries = tables.map(t =>\n  `SELECT content, metadata, 1 - (embedding <=> '${JSON.stringify(embedding)}'::vector) AS similarity, '${t.name}' AS category_name FROM ${t.table} WHERE 1 - (embedding <=> '${JSON.stringify(embedding)}'::vector) > 0.5 ORDER BY embedding <=> '${JSON.stringify(embedding)}'::vector LIMIT 3`\n).join(' UNION ALL ');\n\nconst finalQuery = `SELECT * FROM (${queries}) AS combined ORDER BY similarity DESC LIMIT 8`;\n\nreturn [{ json: {\n  query: finalQuery,\n  message: authData.message,\n  userId: authData.userId,\n  sessionId: authData.sessionId\n} }];"
      },
      "id": "build-search-query",
      "name": "검색 쿼리 생성",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1300, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "={{ $json.query }}",
        "options": {
          "queryReplacement": ""
        }
      },
      "id": "search-docs",
      "name": "문서 벡터 검색",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [1520, 300],
      "credentials": { "postgres": { "name": "Supabase (Postgres)" } }
    },
    {
      "parameters": {
        "jsCode": "// 검색 결과로 컨텍스트 구성\nconst docs = $input.all().map(i => i.json);\nconst prevData = $('검색 쿼리 생성').item.json;\n\n// 소스 정보 추출\nconst sources = docs.map(d => ({\n  filename: d.metadata?.source_filename || '알 수 없는 파일',\n  similarity: d.similarity || 0,\n  category_name: d.category_name || '',\n  drive_url: d.metadata?.source_drive_url || null\n}));\n\n// RAG 컨텍스트 구성\nconst context = docs.length > 0\n  ? docs.map((d, i) => `[문서 ${i+1}] (${d.category_name})\\n${d.content}`).join('\\n\\n')\n  : '관련 내부 문서를 찾지 못했습니다.';\n\nreturn [{ json: {\n  context,\n  sources,\n  message: prevData.message,\n  userId: prevData.userId,\n  sessionId: prevData.sessionId,\n  hasContext: docs.length > 0\n} }];"
      },
      "id": "build-context",
      "name": "컨텍스트 구성",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1740, 300]
    },
    {
      "parameters": {
        "url": "https://api.openai.com/v1/chat/completions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "Bearer {{ $env.OPENAI_API_KEY }}" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"gpt-4.1\",\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"당신은 내부 문서 기반의 전문 AI 어시스턴트입니다.\\n\\n아래 내부 문서를 참고하여 사용자의 질문에 정확하고 친절하게 답변해주세요.\\n내부 문서에 관련 내용이 있으면 반드시 그것을 우선 활용하세요.\\n내부 문서에 없는 내용은 일반 지식으로 보완하되, 출처를 명확히 구분해주세요.\\n\\n=== 내부 문서 ===\\n{{ $json.context }}\\n================\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"{{ $json.message }}\"\n    }\n  ],\n  \"temperature\": 0.3,\n  \"max_tokens\": 2000\n}"
      },
      "id": "gpt-answer",
      "name": "GPT-4.1 답변 생성",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1960, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT tr_deduct_token('{{ $('컨텍스트 구성').item.json.userId }}'::uuid, '{{ $('컨텍스트 구성').item.json.sessionId }}', '{{ $('컨텍스트 구성').item.json.message.replace(/'/g, \"''\") }}') AS result",
        "options": {}
      },
      "id": "deduct-token",
      "name": "토큰 차감",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [2180, 300],
      "credentials": { "postgres": { "name": "Supabase (Postgres)" } }
    },
    {
      "parameters": {
        "jsCode": "const gptResponse = $('GPT-4.1 답변 생성').item.json;\nconst tokenResult = $input.first().json.result;\nconst ctxData = $('컨텍스트 구성').item.json;\n\nconst answer = gptResponse.choices?.[0]?.message?.content || '답변을 생성하지 못했습니다.';\n\nreturn [{ json: {\n  success: true,\n  response: answer,\n  tokens_remaining: tokenResult.tokens_remaining || 0,\n  sources: ctxData.sources || []\n} }];"
      },
      "id": "build-response",
      "name": "응답 구성",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2400, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": { "responseCode": 200 }
      },
      "id": "respond-chat",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [2620, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [[{ "node": "인증 확인", "type": "main", "index": 0 }]]
    },
    "인증 확인": {
      "main": [[{ "node": "인증 & 파싱", "type": "main", "index": 0 }]]
    },
    "인증 & 파싱": {
      "main": [[{ "node": "권한 OK?", "type": "main", "index": 0 }]]
    },
    "권한 OK?": {
      "main": [
        [{ "node": "질문 임베딩 생성", "type": "main", "index": 0 }],
        [{ "node": "401 Unauthorized", "type": "main", "index": 0 }]
      ]
    },
    "질문 임베딩 생성": {
      "main": [[{ "node": "검색 쿼리 생성", "type": "main", "index": 0 }]]
    },
    "검색 쿼리 생성": {
      "main": [[{ "node": "문서 벡터 검색", "type": "main", "index": 0 }]]
    },
    "문서 벡터 검색": {
      "main": [[{ "node": "컨텍스트 구성", "type": "main", "index": 0 }]]
    },
    "컨텍스트 구성": {
      "main": [[{ "node": "GPT-4.1 답변 생성", "type": "main", "index": 0 }]]
    },
    "GPT-4.1 답변 생성": {
      "main": [[{ "node": "토큰 차감", "type": "main", "index": 0 }]]
    },
    "토큰 차감": {
      "main": [[{ "node": "응답 구성", "type": "main", "index": 0 }]]
    },
    "응답 구성": {
      "main": [[{ "node": "Respond", "type": "main", "index": 0 }]]
    }
  },
  "settings": { "executionOrder": "v1" },
  "meta": {
    "description": "TrustRAG 채팅. 인증 → 질문 임베딩 → 다중 테이블 벡터 검색 → GPT-4.1 답변 → 토큰 차감 → 소스 포함 응답."
  }
}
